<%=render :partial => "/shared/group_menu", :locals=>{:active_tab => "edit"}%>
  <div class="block">
    <div class="content">
      <div class="inner">
        <h2>Edit Group</h2>
        <%= form_for(@group,:html=>{:class=>"form"}) do |f| %>        
        	<%= render :partial => "form", :locals => { :f => f } %>
        <% end %>
      </div>
    </div>
  </div>
<div style="clear:both"></div>