
<%=render :partial => "/shared/user_menu" , :locals=>{:active_tab => "users"}%>
  <div class="block">
    <div class="content">
      <div class="inner">
        <h2>Edit User</h2>
        <%=render "form"%>
      </div>
    </div>
  </div>

<div style="clear:both"></div>